<%- if @aeroplan == 'Aeroplan currently undergoing routine maintenance of the site'%>
  <h5 class="valign center-align">Aeroplan currently undergoing routine maintenance of the site</h5>
<%- elsif @aeroplan == 'No results were found'%>
  <h5 class="valign center-align">No results were found</h5>
<%- elsif @aeroplan == 'The Aeroplan Number and/or password you entered does not match'%>
  <h5 class="valign center-align">The Aeroplan Number and/or password you entered does not match</h5>
<% else %>
  <thead>
    <tr>
        <th data-field="depart">Depart</th>
        <th data-field="name">Arrive</th>
        <th data-field="price">Stops</th>
        <th data-field="price">Duration</th>
        <th data-field="price">Miles</th>
    </tr>
  </thead>
  <%- @aeroplan.each do |f| %>
    <tbody>
      <tr>
        <td>
          <h5 class="valign center-align"><%= f[:origin] if f[:origin].present? %></h5>
          <h6 class="valign center-align"><%= f[:depart_date] if f[:depart_date].present? %></h6>
          <h6 class="valign center-align"><%= f[:depart_time] if f[:depart_time].present? %></h6>
        </td>
        <td>
          <h5 class="valign center-align"><%= f[:destination] if f[:destination].present? %></h5>
          <h6 class="valign center-align"><%= f[:arrive_date] if f[:arrive_date].present? %></h6>
          <h6 class="valign center-align"><%= f[:arrive_time] if f[:arrive_time].present? %></h6>
        </td>
        <td>
          <%- if f[:connection][:stops] == 'Direct'%>
            <%- @first_segment = f[:connection][:first_segment] %>
            <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="<%= f[:connection][:first_segment][:departs][:airport] %> - <%= @first_segment[:arrives][:airport] %>&#10; <%= @first_segment[:departs][:date]%> <%= @first_segment[:departs][:time]%> - <%= @first_segment[:arrives][:date]%> <%= @first_segment[:arrives][:time]%>&#10;Cabin: <%= @first_segment[:cabin]%>&#10;Aircraft: <%= @first_segment[:aircraft]%>&#10;Airline: <%= @first_segment[:airline]%>&#10;Duration: <%= @first_segment[:duration]%>"><%= f[:connection][:stops] %></a>
          <%- elsif f[:connection][:stops] == '2 Stop(s)' %>
            <%- @first_segment = f[:connection][:first_segment] %>
            <%- @second_segment = f[:connection][:second_segment] %>
            <%- @third_segment = f[:connection][:third_segment] if f[:connection][:third_segment].present? %>
            <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="First Segment:&#10;<%= f[:connection][:first_segment][:departs][:airport] %> - <%= @first_segment[:arrives][:airport] %>&#10; <%= @first_segment[:departs][:date]%> <%= @first_segment[:departs][:time]%> - <%= @first_segment[:arrives][:date]%> <%= @first_segment[:arrives][:time]%>&#10;Cabin: <%= @first_segment[:cabin]%>&#10;Aircraft: <%= @first_segment[:aircraft]%>&#10;Airline: <%= @first_segment[:airline]%>&#10;Duration: <%= @first_segment[:duration]%>&#10;&#10; Stop time: <%= @third_segment.present? ? f[:connection][:connection_time][:first_conn] : f[:connection][:connection_time] %>&#10;&#10;  Second Segment:&#10; <%= @second_segment[:departs][:airport] %> - <%= @second_segment[:arrives][:airport] %>&#10; <%= @second_segment[:departs][:date]%> <%= @second_segment[:departs][:time]%> - <%= @second_segment[:arrives][:date]%> <%= @second_segment[:arrives][:time]%>&#10;Cabin: <%= @second_segment[:cabin]%>&#10;Aircraft: <%= @second_segment[:aircraft]%>&#10;Airline: <%= @second_segment[:airline]%>&#10;Duration: <%= @second_segment[:duration]%><%- if @third_segment.present? %>&#10;&#10;Stop time: <%= f[:connection][:connection_time][:second_conn]%>&#10;&#10;  Third Segment:&#10; <%= @third_segment[:departs][:airport] %> - <%= @third_segment[:arrives][:airport] %>&#10; <%= @third_segment[:departs][:date]%> <%= @third_segment[:departs][:time]%> - <%= @third_segment[:arrives][:date]%> <%= @third_segment[:arrives][:time]%>&#10;Cabin: <%= @third_segment[:cabin]%>&#10;Aircraft: <%= @third_segment[:aircraft]%>&#10;Airline: <%= @third_segment[:airline]%>&#10;Duration: <%= @third_segment[:duration]%><%end%>"><%= f[:connection][:stops] %></a>
          <%- elsif f[:connection][:stops] == '3 Stop(s)' %>
            <h5 class="valign center-align">3 stops</h5>
          <%- else %>
            <%- @first_segment = f[:connection][:first_segment] %>
            <%- @second_segment = f[:connection][:second_segment] %>
            <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="First Segment:&#10;<%= @first_segment[:departs][:airport] %> - <%= @first_segment[:arrives][:airport] %>&#10; <%= @first_segment[:departs][:date]%> <%= @first_segment[:departs][:time]%> - <%= @first_segment[:arrives][:date]%> <%= @first_segment[:arrives][:time]%>&#10;Cabin: <%= @first_segment[:cabin]%>&#10;Aircraft: <%= @first_segment[:aircraft]%>&#10;Airline: <%= @first_segment[:airline]%>&#10;Duration: <%= @first_segment[:duration]%>&#10;&#10; Stop time: <%= f[:connection][:connection_time] %>&#10;&#10;  Second Segment:&#10; <%= @second_segment[:departs][:airport] %> - <%= @second_segment[:arrives][:airport] %>&#10; <%= @second_segment[:departs][:date]%> <%= @second_segment[:departs][:time]%> - <%= @second_segment[:arrives][:date]%> <%= @second_segment[:arrives][:time]%>&#10;Cabin: <%= @second_segment[:cabin]%>&#10;Aircraft: <%= @second_segment[:aircraft]%>&#10;Airline: <%= @second_segment[:airline]%>&#10;Duration: <%= @second_segment[:duration]%>"><%= f[:connection][:stops] %></a>
          <% end %>
        </td>
        <td>
          <h5 class="valign center-align"><%= f[:duration] if f[:duration].present? %></h5>
        </td>
        <td>
          <h5 class="valign center-align"><%= f[:miles] if f[:miles].present? %></h5>
        </td>
      </tr>
    </tbody>
  <% end %>
<% end %>
